name: Default Desktop Theme


################################################################################
# vim:ft=yaml:ts=2:sw=2
################################################################################
