name: Elegant Theme (mobile)
inherit: desktop-default


################################################################################
# vim:ft=yaml:ts=2:sw=2
################################################################################
