en-US:
  admin:
    dashboard:
      registration_stats: >
        Since your last visit on #{last_visit} there were #{noobs_count}
        new %{user|users}:noobs_count. Please, review #{noobs_review_link}.
      pending_registrations: pending registrations


################################################################################
# vim:ft=yaml:ts=2:sw=2
################################################################################
