#
# Applications
#

applications:
  - nodeca.core
  - nodeca.forum
  - nodeca.blogs
  - nodeca.users


#
# Locales
#

# locales:
#
#   # List of enabled locales (all found locales by default).
#   enabled:
#     - en-US
#     - en-GB
#     - ru-RU
#
#   # Application locale used by default (first enabled one if not set).
#   default: ru-RU


#
# Themes whitelist/blacklist
#

# You can specify either whitelist:
#
#   themes:
#     enabled:
#       - deep-purple
#       - pink-floyd
#
# or blacklist of enabled themes:
#
#   themes:
#     disabled:
#       - yellow-submarine
#
# All available themes are enabled by default, when no whitelist or blacklist
# specified. When both white and black lists are provided, whitelist is used.


#
# Listen
#

listen:
  host: localhost
  port: 3000
