---
# defaults are per-app default options, which can be overriden in root
# application.yml. Here is example of `nodeca-translator` defaults.


locales:
  # array of availble locales including original (master)
  available: [en, ru]

  # originl locale
  master: en


################################################################################
# vim:ft=yaml:ts=2:sw=2
################################################################################
