#
# Logger configuration
#

logger:

  #
  # Global minimal error level
  #

  level: debug

  #
  # Appenders options
  #

  options:
    file:
      logSize: 10 # Max MB per log file
      backups: 5  # Amount of "old" log files

  #
  # Logger categories
  #

  general:
    - level:  debug
      file:   log/nodeca.log
    - level:  error
      file:   log/nodeca-error.log

  assets:
    - level:  debug
      file:   log/static.log
    - level:  error
      file:   log/static-error.log

  mincer:
    - level:  debug
      file:   log/mincer.log
    - level:  error
      file:   log/mincer-error.log


^production:
  logger:
    level: info


#
# vim:syntax=yaml
