#
# Logger configuration
#

logger:

  options:

    #
    # Global minimal error level
    #

    level: debug

    #
    # Appenders options
    #

    file:
      logSize: 10 # Max MB per log file
      backups: 5  # Amount of "old" log files

  #
  # Logger categories
  #

  general:
    - level:  debug
      file:   log/nodeca.log
    - level:  error
      file:   log/nodeca-error.log

  assets:
    - level:  debug
      file:   log/static.log
    - level:  error
      file:   log/static-error.log

  mincer:
    - level:  debug
      file:   log/static.log
    - level:  error
      file:   log/static-error.log

  http:
    - level:  debug
      file:   log/http.log
    - level:  error
      file:   log/http-error.log


^production:
  options:
    logger:
      level: info


#
# vim:syntax=yaml
