#
# Environment-dependent configs
#


#^production:
#  listen:
#    host: localhost
#    port: 80
#    #mount: //nodeca.com/
#
#  database:
#    redis:
#      host: localhost
#      port: 6379
#      #index: 0
#
#    mongo:
#      host: localhost
#      port: 27017
#      database: nodeca
#      #user: mongouser
#      #password: m0NGoP4$$WORd
