#
# Environment-dependent configs. Use ^your_name to define environment,
# and define variables to override. Here is typical sample for production,
# staging & testing.
#


^production:

  bind:
    default:
      listen: 0.0.0.0:80
      ssl:
        listen: 0.0.0.0:443
      #mount: //nodeca.com/

  database:
    redis: redis://localhost:6379
    mongo: mongodb://localhost/nodeca

  logger:
    options:
      level: info
