router:

  #
  # Routes
  #

  map:
    forum.list: !clean
      "/f{forum_id}/":
        params:
          forum_id: /\d+/

      "/f{forum_id}/index{page}.html":
        params:
          forum_id: /\d+/
          page: /[2-9]|[1-9]\d+/


  #
  # Redirects
  #

  redirects:
    "/f{forum_id}/thread{thread_id}.php":
      to: [301, "/t-{forum_id}-{thread_id}.html"]
      params:
        forum_id: /\d+/
        thread_id: /\d+/

    "/f{forum_id}.html":
      to: !!js/function >
        function redirect(forum_id, cb) {
          // this is nodeca
          var slugize = this.helpers.slugize;

          this.models.forum.find(forum_id, function (err, forum) {
            if (err) {
              cb(err);
              return;
            }

            cb(null, 301, '/forums/' + forum_id + '-' + sluggize(forum.title));
          });
        }
      params:
        forum_id: /\d+/


  #
  # List of enabled/disabled direct invocators
  #

  direct_invocators:
    forums.threads.show: on
    forums.threads.update: off

  #
  # Mount points
  #

  mount:
    # Mount all nodeca.server.forum.* methods under domain `forums.nodeca.org`
    forum:  //forums.nodeca.org

    # Mount all ndoeca.server.blog.* methods under path `/blogs`
    blog:   /blogs
