# Settings values (only for `config` stores). Idea is to manage permissions
# via control panel, and other settings via config files.

settings:
  results_pre_page: 25


################################################################################
# vim:ft=yaml:ts=2:sw=2
################################################################################
