# Configuration for testing

^test:
  database:
    redis:
      host: localhost
      port: 6379
      index: 2

  # Examples:
  #
  # "mongodb://user:password@host:port/database"
  # "user:password@host:port/database"
  # "host/database"
  #
  # For replica set join all addresses into one string, separated by comma.
  #
  mongo: localhost/nodeca-test
