# Configuration for testing

^test:
  bind:
    default:
      listen: 0.0.0.0:3000

      # To have a complete URLs in the tests
      mount:  http://localhost:3000

  database:
    redis:
      host: localhost
      port: 6379
      index: 2

    mongo: localhost/nodeca-test
