# Configuration for testing

^test:
  bind:
    default:
      listen: 0.0.0.0:3005

      # To have a complete URLs in the tests
      mount:  http://localhost:3005

  database:
    redis: redis://localhost:6379/2
    mongo: mongodb://localhost/nodeca-test

  options:
    recaptcha: ~
