app_users:
  translator:
    can_moderate:
      title: Allow moderate translator
      default: false
      type: boolean


################################################################################
# vim:ft=yaml:ts=2:sw=2
################################################################################
