router:

  #
  # Routes
  #

  map:
    forum.list:
      ~override: true

      "/f{forum_id}/":
        forum_id: /\d+/

      "/f{forum_id}/index{page}.html":
        forum_id: /\d+/
        page: /[2-9]|[1-9]\d+/


  #
  # List of enabled/disabled direct invocators
  #

  direct_invocators:
    forums.threads.show: true
    forums.threads.update: false
