setting_schemas:
  global:
    #
    # Sendmail
    #
    email_sendmail_path:
      priority: 100
      group_key: email
      category_key: email_sendmail
      type: string
      default: sendmail

    email_sendmail_args:
      priority: 200
      group_key: email
      category_key: email_sendmail
      type: string

    #
    # SMTP
    #
    email_smtp_service:
      priority: 1000
      group_key: email
      category_key: email_smtp
      type: dropdown
      values: # Some of these should have translations, some need not.
      - custom
      - Gmail
      - Yahoo
      - Hotmail
      - hot.ee
      - mail.ee
      - SES
      - Zoho
      - iCloud
      - SendGrid
      - Mailgun
      - Postmark
      - yandex
      - Mail.Ru
      - DynectEmail
      - Mandrill
      - Mailjet
      default: custom

    email_smtp_host:
      priority: 2000
      group_key: email
      category_key: email_smtp
      type: string
      default: localhost

    email_smtp_port:
      priority: 3000
      group_key: email
      category_key: email_smtp
      type: number
      default: 25

    email_smtp_ssl:
      priority: 4000
      group_key: email
      category_key: email_smtp
      type: boolean
      default: false

    email_smtp_name:
      priority: 5000
      group_key: email
      category_key: email_smtp
      type: string

    email_smtp_user:
      priority: 6000
      group_key: email
      category_key: email_smtp
      type: string

    email_smtp_pass:
      priority: 7000
      group_key: email
      category_key: email_smtp
      type: string

    email_smtp_ignore_tls:
      priority: 8000
      group_key: email
      category_key: email_smtp
      type: boolean
      default: false

    email_smtp_max_connections:
      priority: 9000
      group_key: email
      category_key: email_smtp
      type: number
      default: 5

    #
    # Amazon SES
    #
    email_ses_access_key:
      priority: 10000
      group_key: email
      category_key: email_ses
      type: string
    
    email_ses_secret_key:
      priority: 20000
      group_key: email
      category_key: email_ses
      type: string
    
    email_ses_service_url:
      priority: 30000
      group_key: email
      category_key: email_ses
      type: string
      default: https://email.us-east-1.amazonaws.com/
      validators: url
