name: CI

on:
  push:
  schedule:
    - cron: '0 0 * * 3'

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - run: echo GITHUB_BRANCH=${GITHUB_REF##*/} >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4

      - name: Start Redis
        uses: supercharge/redis-github-action@1.2.0
        with:
          redis-version: 6

      - run: make deps-ci

      - uses: GabrielBB/xvfb-action@v1
        with:
          run: make test-ci
